*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Segoe UI',sans-serif;
background:linear-gradient(
135deg,
#020617,
#111827,
#7f1d1d
);

color:white;
overflow-x:hidden;
}

.app{
width:100%;
min-height:100vh;
}

.container{
max-width:1400px;
margin:auto;
padding:30px;
}

.hero{
padding:60px;
text-align:center;
margin-bottom:40px;
border-radius:30px;

background:rgba(15,23,42,.8);

box-shadow:
0 0 25px rgba(220,38,38,.5);
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
}

.nav{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-bottom:50px;
}

.nav a{

padding:15px;

border-radius:15px;

background:#991b1b;

color:white;

text-decoration:none;

transition:.4s;
}

.nav a:hover{

transform:translateY(-5px);

background:#dc2626;
}

.section{
margin-bottom:50px;
}

.section h2{
margin-bottom:25px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;
}

.card{

padding:25px;

background:rgba(30,41,59,.7);

border-radius:20px;

transition:.4s;
}

.card:hover{

transform:translateY(-5px);

box-shadow:
0 0 20px rgba(220,38,38,.5);
}

ul{
list-style:none;
}

ul li{

margin-bottom:15px;

padding:15px;

background:#334155;

border-left:5px solid #dc2626;

border-radius:10px;
}

table{
width:100%;
overflow:auto;
}

th,td{

padding:15px;

text-align:center;
}

th{
background:#991b1b;
}

td{
background:#334155;
}


/* RESPONSIVE */

@media(max-width:768px){

.hero h1{
font-size:35px;
}

.grid{
grid-template-columns:1fr;
}

.nav{
flex-direction:column;
}

}